/*
	I copied this right from NCFC's old CSS lololol
*/
@font-face 
{
	font-family: GameCube;
	src: url('GameCube.ttf');
}

.alert a {
	text-decoration:none;
	float:right;
}

table {
	border-collapse:initial;
}

noscript.alert-warning {
	display:block;
	padding:0.5em;
}

div.t1.no-b {
	border-width:0px;
	text-align:left;
}

div.t2 {
	height:initial !important;
	max-height:initial;
	margin-left:0;
	font-size:1em;
}

div.t2.font {
	font-family:inherit;
}

.row.divtable .col-sm-1,
.row.divtable .col-sm-2,
.row.divtable .col-sm-3,
.row.divtable .col-sm-4,
.row.divtable .col-sm-5,
.row.divtable .col-sm-6,
.row.divtable .col-sm-7,
.row.divtable .col-sm-8,
.row.divtable .col-sm-9,
.row.divtable .col-sm-10,
.row.divtable .col-sm-11,
.row.divtable .col-sm-12 {
	padding:0.5em;
}

#container {
	padding-top:0px;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
}

.center {
	text-align:center !important;
}

.t2 h1 {
	text-align:center;
}

.row {
	padding:1em;
}

.nopadding {
	padding:0 !important;
}

.nomargin {
	margin:0;
}

p.paragraph {
	padding:1em;
}

.bottommenu {
	display:none;
}

.booth-top, .booth-bottom, .booth-top .ncfc-thumbnail {
	border:3px solid #808080;
	text-align:center;
	color:#000;
}

.booth-top .ncfc-thumbnail {
	background-size:cover;
	display:inline-block;
	width:259px;
	height:227px;
	overflow:hidden;
	max-width:100%;
}

.ncfc-thumbnail .description {
	overflow:auto;
	max-width:100%;
	background-color:rgba(0,0,0,0.75);
	display:none;
	color:#FFF;
	height:224px;
}

.ncfc-thumbnail:hover .description {
	display:block;
}

.booth-bottom h4 {
	font-weight:bold;
}

.booth-top, .booth-bottom {
	background-color:#EFEFEF;
	border-width:6px;
	padding:0.5em;
}

.booth-top {
	border-bottom-width:0;
}

.booth-bottom {
	border-top-width:0;
}

.booth-bottom-left {
	border-right:0;
}

.booth-bottom-right {
	border-left:0;
}

.booth-bottom-left, .booth-bottom-right {
	padding:0;
}

.rating {
	border:4px solid #591b1b;
	border-left-width:0;
	border-top-width:0;
	background-color:#b84242;
	text-align:center;
	padding:0;
}

.big-thumbnail {
	border:6px solid #808080;
	width:100%;
}

.controls {
	text-align:left;
}

.controls h4 {
	border-bottom:1px solid rgba(255,255,255,0.5);
}

.small-thumb {
	border:1px solid rgba(255,255,255,0.5);
	max-width:100%;
	width:127px;
	margin:0.25em;
}

.small-thumb:hover, .small-thumb.active {
	border-color:#FFF;
}

.download-bar {
	font-size:1.5em !important;
}

.download-button {
	color:#FFF !important;
	font-size:1em;
	text-decoration:none !important;
}

.size-icon {
	position:relative;
	top:-0.1em;
	height:1.5em;
	margin-right:-0.25em;
}

.nowrap {
	white-space:nowrap;
}

.booths-category {
	background-position:left center, right center;
	background-repeat:no-repeat;
	padding-right:5em;
	padding-left:5em;
	text-align:center;
}